/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, "Trebuchet MS", "文泉驿微米黑", "Microsoft YaHei", Arial, sans-serif;
  font-size: small;
  background:url('../images/white_texture.png') repeat;
  color: rgb(34, 34, 34);
  text-align: center;
}

h1, h2 {
  font-size: 1.5em;}

h4, h5, h6 {
  font-size: 100%; }

h1, h2, h3 { color: #4183c4 }
p { margin: 1em 0; }

a,a:link         { text-decoration:none; color: #4183c4;}
a:hover   { text-decoration:underline; color: #000; text-shadow: 0px 0px 2px royalblue}
a:visited { color: #4183c4; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home {
  background: none repeat scroll 0% 0% rgba(230, 230, 230, 0.3);
  padding: 10px 10px 2px;
  box-shadow: 0px 0px 20px 5px rgba(0, 102, 204, 0.5);
}
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  font-size: 125%;
  border-bottom: 2px solid gainsboro;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}
ul {
  list-style-type: disc;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 60em;
  margin: 4em auto 2em;
  line-height: 1.5em;
}

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.70);
  border-bottom: thin solid black;
  box-shadow: 0 0 5px rgb(28, 28, 28);
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
}
header h1 {
  font-size: 1em;
}
header nav {
  float: right;
  margin: 1em 8% 1em 0;
}

header ul li {
  display: inline-block;
  font-weight: bold;
  transition: transform 0.7s ease-in;
  -webkit-transition: -webkit-transform 0.7s ease-in;
}

header ul li:hover {
  transform: rotate(360deg);
  -webkit-transform:rotate(360deg);
}
header ul li a {
  padding: 5px;
}

header ul li a:hover {
  box-shadow: 3px 3px 5px rgb(54, 108, 216);
  border: 3px solid rgb(102, 217, 239);
  border-radius: 5px;
}
.header a {
  font-weight: bold;
  text-decoration: none;
}

.header h1.title {
  display: inline-block;
  float: left;
  margin: 1em 0 1em 8%;
}

.header h1.title a {
  color: #a00;
}

.header h1.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}
footer {
  border: 3px solid;
  border-color: aliceblue;
  border-radius: 5px;
  background-color: rgba(244, 244, 244, 0.65);
  box-shadow: 3px 0px 10px rgb(54, 108, 216);
}
.site .footer {
  font-size: 85%;
  color: #666;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer ul {
  margin-left: 2em;
  list-style-type:none;
  padding: 8px 0;
}
.github {
  background-color:#333333;
  background-image:linear-gradient(#434343,#333333);
}
.gmail {
  background-color:#c53727;
  background-image:linear-gradient(#e55747,#c53727);
}
.douban {
  background-color:#528641;
  background-image:linear-gradient(#72a661,#528641);
}
.site .footer li {
  display: block;
  float:left;
  margin-right: 1em;
  width: 70px;
  text-align: center;
  border-radius: 3px;
}
.site .footer li a:hover,
.site .footer li a:active {
  text-decoration:none;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  color: skyblue;
}

.site .footer li:hover {
  box-shadow: 0px 1px 2px  rgba(255,255,255, 0.75) inset, 0px 0px 12px rgba(0,0,0,0.075);
  opacity: 0.8;
}
.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: snow;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 2px solid #ddd;
  padding: 0 .2em;
  color: blueviolet;
}

.post pre code {
  color: white;
  border: none;
}

.post pre {
  background-color:#1d1d1e;
  box-shadow:2px 3px 5px black;
  font-family: "Ubuntu Mono", Monaco, Consolas, Courier, monospace;
  border: 2px solid;
  border-color: gainsboro;
  border-radius: 8px;

}
/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* date */
time {
  font-size: 80%;
  color: white;
  border-radius: 5px;
  background-color:steelblue;
  font-family: Georgia, serif;
  padding: 0.2em 0.5em;
  text-shadow:1px 1px 2px black;
  box-shadow: 2px 0px 5px rgb(54, 108, 216);
  border:2px solid white;
}

/* code */
code {
  font-family: "Ubuntu Mono", Monaco, Consolas, Courier,"Microsoft YaHei", monospace;
}
#html5 {
  float: right
}
 .section-nav .left {
   float: left;
 }
 .section-nav .right {
   float: right;
 }
 .clear {
   clear: both
 }
